@model IEnumerable<ModelBindingDemo.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn"})
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
                @if(item.Category != null)
                {
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                }
            </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }, new {@class = "btn"}) |
            @Html.ActionLink("Details", "Details", new { id = item.QuestionId }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.QuestionId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
